<section class="section typeset">
  <div class="container">
  <ul class="columns is-multiline">
    {% if paginator.posts %}
      {% for post in paginator.posts %}
        <li class="column is-4">
          <article class="card">
            <div class="card-content">
              <h2 class="title is-4"><a href="{{ post.url }}">{{ post.title }}</a></h2>
              {% include post-meta.html %}
              <div class="content">
                <p>{{ post.description | markdownify | truncatewords: 30 }}</p>
                <p><a href="{{ post.url }}">Read more</a></p>
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    </div>
      {% include post-pagination.html %}
    {% else %}
      {% for post in site.posts %}
        <li class="column is-4">
          <article class="card">
            <div class="card-content">
              <h2 class="title is-4"><a href="{{ post.url }}">{{ post.title }}</a></h2>
              {% include post-meta.html %}
              <div class="content">
                <p>{{ post.description | markdownify | truncatewords: 30 }}</p>
                <p><a href="{{ post.url }}">Read more</a></p>
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</section>
