{% assign feature_text = page.feature_text %}
{% assign feature_image = page.feature_image %}
{% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  {% assign feature_text = collectiondata.feature_text %}
  {% assign feature_image = collectiondata.feature_image %}
{% endif %}

{% if feature_text or feature_image %}
  <section class="hero is-medium is-primary is-bold">
    <div class="hero-body" {% if feature_image %} style="background-image: url('{{ feature_image }}')" {% endif %}>
      <div class="container">
        <div class="content">
          <h1 class="title">{{ page.title }}</h1>
          <p>{{ feature_text | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>
{% endif %}
