---
---
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$primary: #009ED9;
$link : $primary;
$family-sans-serif: "Roboto", "Arial", sans-serif !default;
$family-monospace: "Roboto Mono", monospace !default;
$render-mode: optimizeLegibility !default;

// Ensure columns inside the main content are aligned properly
.columns {
    align-items: flex-start; // Adjust alignment as needed
  }
  
  // Sticky behavior for the aside when page scrolls
  aside {
    position: -webkit-sticky;
    position: sticky;
    top: 20px; // Adjust top spacing as needed
  }

// Import custom resume extensions
@import "main";
