<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <!-- General meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.indexing == false %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  <title>{{ collectiondata.title }} - {{ site.title }}</title>
  <meta property="og:title" content="{{ collectiondata.title }}">
  <meta name="description" content="{{ collectiondata.description }}">
  <meta property="og:description" content="{{ collectiondata.description }}">
  {% else %}
  {% seo %}
  {% endif %}
  {% if site.fonts.preconnect_urls %}
  {% for url in site.fonts.preconnect_urls %}
  <link rel="preconnect" href="{{ url }}" crossorigin />
  {% endfor %}
  {% endif %}
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
  <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  <link rel="stylesheet" href="{{ site.url }}/assets/style.css">
  {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}
  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}
  {% include site-fonts.html %}
  {% include site-before-start.html %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
{% if page.sidebar %}
    {% if page.sidebar_left and page.sidebar_right %}
        {% assign left_sidebar_width = 'is-2' %}
        {% assign content_width = 'is-7' %}
        {% assign right_sidebar_width = 'is-3' %}
    {% elsif page.sidebar_left %}
        {% assign left_sidebar_width = 'is-3' %}
        {% assign content_width = 'is-9' %}
    {% elsif page.sidebar_right %}
        {% assign content_width = 'is-8' %}
        {% assign right_sidebar_width = 'is-4' %}
    {% else %}
        {% assign content_width = 'is-12' %}
    {% endif %}
{% else %}
    {% assign content_width = 'is-12' %}
{% endif %}

<body class="layout-{{ page.layout | default: 'default' }}{% if page.title %} {{ page.title | slugify }}{% endif %}">
  <div class="container">
    {{ content }}
  </div>
  {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}
  {% include site-before-end.html %}
</body>
</html>
