<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <!-- General meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.indexing == false %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if page.collectionpage %}
  {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
  <title>{{ collectiondata.title }} - {{ site.title }}</title>
  <meta property="og:title" content="{{ collectiondata.title }}">
  <meta name="description" content="{{ collectiondata.description }}">
  <meta property="og:description" content="{{ collectiondata.description }}">
  {% else %}
  {% seo %}
  {% endif %}
  {% if site.fonts.preconnect_urls %}
  {% for url in site.fonts.preconnect_urls %}
  <link rel="preconnect" href="{{ url }}" crossorigin />
  {% endfor %}
  {% endif %}

  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
  <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  {% if site.favicons or site.avatarurl %}{% include site-favicons.html %}{% endif %}
  {% if site.google_analytics %}{% include site-analytics.html %}{% endif %}
  {% include site-fonts.html %}
  {% include site-before-start.html %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  {% include site-header.html %}
  
 

  {% include home/hero.html %}
  {% include home/get-started.html %}
  {% include home/features.html %}
  {% include home/lessons.html %}


  
<footer class="pt-6 pb-6">
  <div class="container">
      <div class="columns is-multiline">
          <div class="column is-full">
              <div class="content">
                  <h3 class="title is-4">Sign up for our newsletter.</h3>
                  <p>Sign up for our newsletter to stay updated on the latest news. Don't miss out, join our newsletter today!</p>
                  <form class="mt-4 is-flex">
                      <div class="field has-addons">
                          <div class="control has-icons-left is-expanded">
                              <input class="input" type="email" placeholder="Enter your email">
                              <span class="icon is-small is-left">
                                ✉️
                              </span>
                          </div>
                          <div class="control">
                              <button class="button is-primary">Subscribe</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="column is-full mt-5">
              <div class="content">
                  <ul class="is-flex is-flex-wrap-wrap">
                      <li class="mr-4">
                          <a href="/#features">Features</a>
                      </li>
                      <li class="mr-4">
                          <a href="/tutorials/cs50">Lessons</a>
                      </li>
                      <li>
                          <a href="/#pricing">Pricing</a>
                      </li>
                  </ul>
                  <p class="mt-3">© 2023 IO Academy. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
  {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}
  {% include site-before-end.html %}
</body>

</html>
