---
layout: default
---

{% include site-header.html %}

{% assign words = page.content | number_of_words %}
{% assign minutes = words | divided_by:200 %}
{% if minutes < 1 %}
  {% assign minutes = 1 %}
{% endif %}

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <!-- Post Thumbnail -->
        {% if page.thumbnail %}
          <figure class="image is-16by9 mb-5">
            <img src="{{ page.thumbnail }}" alt="{{ page.title }}">
          </figure>
        {% endif %}
        <!-- Post Content -->
        <div class="content mt-5">
          <h1 class="title is-2">{{ page.title }}</h1>
          <p class="is-size-6 has-text-grey">
            {{ page.date | date: "%B %d, %Y" }} | By {{ page.author }} | {{ minutes }} min read
          </p>
          <p>{{ page.description }}</p>
          <div class="post-content mt-5">
            {{ content }}
          </div>
        </div>
      </div>
      <!-- Sidebar -->
      {% if page.aside == true %}
      <div class="column">
        {% include site-aside.html %}
      </div>
      {% endif %}
    </div>
  </div>
</section>

{% include site-footer.html %}
