---
layout: default
---

{% include site-header.html %}

<div class="my-5">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-12 ">
        <!-- Video Embed with Aspect Ratio -->
        <figure class="image is-2by1 slide-in-bck-center ">
          <iframe class="has-ratio"
                  width="640"
                  height="360"
                  src="https://www.youtube.com/embed/{{ page.video_id }}"
                  allowfullscreen></iframe>
        </figure>
        <!-- Lesson Details Section -->
        <div class="columns mt-5">
          <div class="column is-8">
            <div class="content">
              <h2 class="title is-4">{{ page.title }}</h2>
              <p class="mb-4"><i class="{{ page.icon }} mr-2"></i> Lesson {{ page.lesson_number }}</p>
              <p>{{ content }}</p>
            </div>
          </div>

          <!-- Course Content Menu -->
          <div class="column box p-5 is-4">
            <aside class="menu">
              <p class="menu-label">Course Content</p>
              <ul class="menu-list">
                {% for post in site.posts %}
                  {% assign active_class = "" %}
                  {% if page.url == post.url %}
                    {% assign active_class = "is-active" %}
                  {% endif %}
                  <li>
                    <a href="{{ post.url }}" class="{{ active_class }}">
                      {{ forloop.index }}. {{ post.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </aside>
            <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1291242080282540"
            data-ad-slot="7663977887"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
       <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
          </div>
        </div>
      </div>

      {% if page.aside == true %}
        <aside class="column is-4">
          {% include site-aside.html %}
        </aside>
      {% endif %}

    </div>
  </div>
</div>

{% include site-footer.html %}
