<section class="cta">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-8">
          <div class="p-5">
            <h2 class="title is-3 mb-3">Master Salesforce CRM Analytics</h2>
            <p>Join our hands-on, immersive program designed to equip you with the skills necessary for mastering Salesforce CRM Analytics.</p>
            <div class="column">
              <a href="/#pricing" class="button is-primary">Try this course <span class="icon"><i class="fas fa-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">What You'll Learn</p>
            </header>
            <div class="card-content">
              <ul class="content">
                <li class="flex items-center gap-3">
                  <span>Learn Salesforce CRM Analytics tools and techniques</span>
                  <span class="icon"><i class="fas fa-arrow-right"></i></span>
                </li>
                <li class="flex items-center gap-3">
                  <span>Develop interactive dashboards</span>
                  <span class="icon"><i class="fas fa-arrow-right"></i></span>
                </li>
                <li class="flex items-center gap-3">
                  <span>Implement predictive analytics</span>
                  <span class="icon"><i class="fas fa-arrow-right"></i></span>
                </li>
                <li class="flex items-center gap-3">
                  <span>Build comprehensive reports</span>
                  <span class="icon"><i class="fas fa-arrow-right"></i></span>
                </li>
                <li class="flex items-center gap-3">
                  <span>Gain practical knowledge</span>
                  <span class="icon"><i class="fas fa-arrow-right"></i></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  