<section class="features">
    <div class="container mt-5">
      <div class="content mb-5 column is-8 ">
        <h2 class="title is-3 is-size-4-mobile">Join IO Academy and get access to all features</h2>
        <p class="subtitle is-5">We provide lectures, lab sessions, and instructor support to prepare students for industry-recognized Computer Science degrees.</p>
      </div>
  
      <div class="columns is-centered mt-5 p-5">
        <div class="column is-10-tablet is-12-desktop">
          <div class="columns is-multiline is-variable is-8">
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-life-buoy"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="4.93" y1="4.93" x2="9.17" y2="9.17"></line><line x1="14.83" y1="14.83" x2="19.07" y2="19.07"></line><line x1="14.83" y1="9.17" x2="19.07" y2="4.93"></line><line x1="14.83" y1="9.17" x2="18.36" y2="5.64"></line><line x1="4.93" y1="19.07" x2="9.17" y2="14.83"></line></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Lifetime access</h3>
                  <p>One-time payment and get access to everything without need to pay again, so you can save your money.</p>
                </div>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-video"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Full access to all videos</h3>
                  <p>Get full access to all of our course videos content, plus any new videos we add in the future.</p>
                </div>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-award"><circle cx="12" cy="8" r="7"></circle><polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Recruiting Profile & Certificate</h3>
                  <p>When you get the certificate, we refer you to tech companies so you can directly start their interview process.</p>
                </div>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-message-circle"><path d="M20 11a8 8 0 1 1-16 0 8 8 0 0 1 16 0z"></path><path d="M12 15l5 4.5L17 17l4.5-5-4.5-4.5-1.5 1.5"></path><path d="M17 17l-1.5 1.5-1.5-1.5"></path></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Private Discord</h3>
                  <p>Ask for help, or questions and get answers from the team members as soon as possible.</p>
                </div>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-github"><path d="M2 12h3m13-4a9.003 9.003 0 00-2.51 17.586c.396.077.542-.172.542-.384l-.006-1.347c-2.221.482-2.695-.982-2.695-.982-.364-.923-.89-1.169-.89-1.169-.728-.493.055-.483.055-.483.805.057 1.227.828 1.227.828.713 1.218 1.871.865 2.329.662.072-.523.278-.874.506-1.074-1.778-.201-3.643-.889-3.643-3.955 0-.873.312-1.587.826-2.145-.083-.2-.36-1.012.079-2.108 0 0 .67-.214 2.2.817.64-.178 1.32-.267 2-.267.68 0 1.36.089 2 .267 1.52-1.031 2.19-.817 2.19-.817.44 1.096.163 1.908.08 2.108.515.558.826 1.272.826 2.145 0 3.076-1.868 3.752-3.65 3.948.287.247.54.733.54 1.478l-.007 2.198c0 .214.145.464.552.383A9.003 9.003 0 0021 8m-4-4l3-3"></path></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Source code</h3>
                  <p>Get access to a Github repo includes the source code, for every video.</p>
                </div>
              </div>
            </div>
  
            <div class="column is-4">
              <div class="feature">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="w-6 h-6 feather feather-users"><path d="M17 19v-2a2 2 0 00-2-2H9a2 2 0 00-2 2v2"></path><circle cx="10" cy="8.5" r="4"></circle><path d="M3 11v2a4 4 0 004 4h10a4 4 0 004-4v-2"></path></svg>
                </div>
                <div class="feature-content">
                  <h3 class="title is-5">Meetings with experts</h3>
                  <p>Talk with big tech companies engineers and ask about anything you want, and get some guidance.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>