<section class="section details">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-7">
        <div class="p-5">
          <h2 class="title is-3 mb-3">
            This college-course-structured Career Path covers all.
          </h2>
          <p>
            The IO Academy is a hands-on, immersive program in computer science that equips high school students with the skills necessary to change the world, so beginners, intermediates, and experts all welcome to this course.
          </p>
          <p>
            Ready for a career in coding?
          </p>
          <div class="column">
            <a href="/#pricing" class="button is-primary">
              Try this course
              <span class="icon">
                <i class="fas fa-arrow-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-5 p-5">
        <div class="box">
          <header class="mb-3">
            <p class="title is-5">
              What You'll Learn <i class="fa-solid fa-graduation-cap ml-2 has-text-primary"></i>
            </p>
          </header>
          <div class="p-3">
            <ul>
              <li>
                <p class="mb-2">
                  <span class="icon has-text-primary">
                    <i class="fas fa-check-circle"></i>
                  </span>
                  Learn JavaScript, Command Line, Git, Data Structures, and more
                </p>
              </li>
              <li>
                <p>
                  <span class="icon has-text-primary">
                    <i class="fas fa-check-circle"></i>
                  </span>
                  Understand how to write super-efficient code
                </p>
              </li>
              <li>
                <p>
                  <span class="icon has-text-primary">
                    <i class="fas fa-check-circle"></i>
                  </span>
                  Problem-solve like a pro
                </p>
              </li>
              <li>
                <p>
                  <span class="icon has-text-primary">
                    <i class="fas fa-check-circle"></i>
                  </span>
                  Build a professional portfolio
                </p>
              </li>
              <li>
                <p>
                  <span class="icon has-text-primary">
                    <i class="fas fa-check-circle"></i>
                  </span>
                  Get a job
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
