<section class="section home-content-section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-3-desktop is-6-tablet is-6-mobile">
        <div class="card">
          <div class="card-content has-text-centered p-5">
            <figure class="image is-128x128 is-inline-block mb-4">
              <img src="/assets/home/cloud-book.png" alt="Learn Salesforce">
            </figure>
            <h3 class="title is-4 mb-3">Learn Salesforce</h3>
            <p class="mb-4">Learn Salesforce: From beginner to job-ready. Acquire essential skills for a tech industry career.</p>
            <a href="#" class="button is-primary">Start Learning</a>
          </div>
        </div>
      </div>
      <div class="column is-3-desktop is-6-tablet is-6-mobile">
        <div class="card">
          <div class="card-content has-text-centered p-5">
            <figure class="image is-128x128 is-inline-block mb-4">
              <img src="/assets/home/board-education-mouse-svgrepo-com.png" alt="Interactive Learning">
            </figure>
            <h3 class="title is-4 mb-3">Interactive Learning</h3>
            <p class="mb-4">Engaging Videos: Bite-sized, interactive content. No lengthy lectures or slides, just dynamic learning.</p>
            <a href="#" class="button is-primary">Know More</a>
          </div>
        </div>
      </div>
      <div class="column is-3-desktop is-6-tablet is-6-mobile">
        <div class="card">
          <div class="card-content has-text-centered p-5">
            <figure class="image is-128x128 is-inline-block mb-4">
              <img src="/assets/home/education-filam-lession-svgrepo-com.png" alt="Realtime Projects">
            </figure>
            <h3 class="title is-4 mb-3">Realtime Projects</h3>
            <p class="mb-4">Learn by building projects, understanding theoretical concepts in real-time application.</p>
            <a href="#" class="button is-primary">Click here</a>
          </div>
        </div>
      </div>
      <div class="column is-3-desktop is-6-tablet is-6-mobile">
        <div class="card">
          <div class="card-content has-text-centered p-5">
            <figure class="image is-128x128 is-inline-block mb-4">
              <img src="/assets/home/education-graduate-learning-svgrepo-com-1.png" alt="Resource Vault">
            </figure>
            <h3 class="title is-4 mb-3">Resource Vault</h3>
            <p class="mb-4">Explore essential Salesforce resources, resumes, projects, tools, tips, and tricks to accelerate learning.</p>
            <a href="#" class="button is-primary">Click here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
