<section class="hero is-light is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-centered is-8">
        <div class="column is-5-tablet is-12-mobile">
          <p class="title is-1">Say Namaste to Salesforce</p>
          <h1 class="subtitle is-5 mt-1">Start Learning <span class="has-text-primary">Salesforce</span> From Scratch</h1>
          <a href="/courses" class="button is-outlined is-primary is-medium mt-5">Browse Courses</a>
        </div>
        <div class="column is-5-tablet is-12-mobile">
          <img src="/assets/learn-salesforce.png" alt="Learn Salesforce" class="image">
        </div>
      </div>
    </div>
  </div>
</section>
