<section class="lessons">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-10">
          <div class="content mt-5">
            <h2 class="title is-3 is-size-4-mobile has-text-dark">
              Get started with our computer science course
            </h2>
            <p class="subtitle is-6 is-size-7-mobile text-gray-600 dark:text-gray-300">
              IO academy is a leading provider of high-quality, affordable Computer Science education.
            </p>
          </div>
        </div>
        <div class="column is-2">
          <a href="/tutorials/cs50" class="button has-text-primary-dark">
            Browse lessons
          </a>
        </div>
      </div>
  
      <div class="columns is-multiline mt-6">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <a href="/tutorials/cs50/introduction-to-computer-science">
                  <img src="https://via.placeholder.com/800x600" alt="Introduction to computer science">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <span class="has-text-primary-dark font-semibold">Lesson 1</span>
                  <span class="has-text-grey-dark is-size-7">25:45</span>
                </div>
              </div>
              <div class="content">
                <h3 class="title is-5 is-size-6-mobile has-text-dark">
                  <a href="/tutorials/cs50/introduction-to-computer-science">Introduction to computer science</a>
                </h3>
                <p>
                  We will be discussing the important subjects within the scope of computer science.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <a href="/tutorials/cs50/introduction-to-computer-science">
                  <img src="https://via.placeholder.com/800x600" alt="Introduction to computer science">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <span class="has-text-primary-dark font-semibold">Lesson 1</span>
                  <span class="has-text-grey-dark is-size-7">25:45</span>
                </div>
              </div>
              <div class="content">
                <h3 class="title is-5 is-size-6-mobile has-text-dark">
                  <a href="/tutorials/cs50/introduction-to-computer-science">Introduction to computer science</a>
                </h3>
                <p>
                  We will be discussing the important subjects within the scope of computer science.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <a href="/tutorials/cs50/introduction-to-computer-science">
                  <img src="https://via.placeholder.com/800x600" alt="Introduction to computer science">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <span class="has-text-primary-dark font-semibold">Lesson 1</span>
                  <span class="has-text-grey-dark is-size-7">25:45</span>
                </div>
              </div>
              <div class="content">
                <h3 class="title is-5 is-size-6-mobile has-text-dark">
                  <a href="/tutorials/cs50/introduction-to-computer-science">Introduction to computer science</a>
                </h3>
                <p>
                  We will be discussing the important subjects within the scope of computer science.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <a href="/tutorials/cs50/introduction-to-computer-science">
                  <img src="https://via.placeholder.com/800x600" alt="Introduction to computer science">
                </a>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <span class="has-text-primary-dark font-semibold">Lesson 1</span>
                  <span class="has-text-grey-dark is-size-7">25:45</span>
                </div>
              </div>
              <div class="content">
                <h3 class="title is-5 is-size-6-mobile has-text-dark">
                  <a href="/tutorials/cs50/introduction-to-computer-science">Introduction to computer science</a>
                </h3>
                <p>
                  We will be discussing the important subjects within the scope of computer science.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Repeat the above card structure for each lesson -->
      </div>
    </div>
  </section>