<section class="pricing">
    <div class="section is-relative">
      <div class="container box has-background-primary">
          <div class="columns is-vcentered">
              <div class="column is-4 is-offset-1">
                  <h2 class="title is-3 has-text-white">Join IO Academy course</h2>
                  <p class="has-text-primary-light mt-1">Join our course to become a better Software engineer and make a lasting impact on the world.</p>
              </div>
              <div class="column is-4 is-offset-3 mt-5">
                  <div class="box has-background-white-ter p-5 mb-5">
                      <div class="">
                          <div class="is-flex is-justify-content-space-between mb-3">
                              <span class="title is-4">Basic plan</span>
                              <div class="title is-4">$325</div>
                          </div>
                          <p class="has-text-grey">Get lifetime access to the course and all the features, and future updates.</p>
                          <a href="#" class="button is-fullwidth is-primary mt-3">Get Started</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>